<a href="https://colab.research.google.com/github/lucianabahia/ETL-Pandas-PySpark/blob/main/ProjetoEngDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Aluna: Luciana Bahia Sullca

# Projeto marketing campaign

Instalações Iniciais

---

Pandas

---

In [ ]:
!pip install pandera

In [ ]:
#Importar o pandas
import pandas as pd
import pandera as pa
import numpy as np
import matplotlib.pyplot as plt

Mongodb

---

In [ ]:
!pip install pymongo[srv]

In [ ]:
#Importando a biblioteca mongoDB
import pymongo
from pymongo import MongoClient
import json

Pyspark

---

In [ ]:
#Importando pyspark
!pip install pyspark

In [ ]:
#Importando bibliotecas
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

GCP

---

In [ ]:
!pip install gcsfs

In [ ]:
from google.colab import drive 
from google.cloud import storage
import os

Dataframe PySpark

Drive 

---

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Credenciar Cloud - Colab

---

In [ ]:
serviceAccount = '/content/rich-jigsaw-339219-47378eb3ae76.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
#Importar o arquivo csv da bucket
df = pd.read_csv("https://storage.googleapis.com/projeto_dataframe/dataframe/marketing_campaign.csv%20-%20marketing_campaign.csv.csv%20-%20marketing_campaign.csv%20-%20marketing_campaign.csv.csv.csv",sep=",")

In [ ]:
#Abrindo o Dataframe
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

# Tratamento com Pandas

In [ ]:
#Exclusão de duas colunas, pois não serão necessárias durante o tratamento.
df.drop(['Z_CostContact','Z_Revenue','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','AcceptedCmp1','AcceptedCmp2'],axis=1,inplace=True)

In [ ]:
#Renomear as colunas traduzindo para o português.
df.rename(columns={'Year_Birth':'Ano_nasc','Education':'Escolaridade','Marital_Status':'Estado_Civil','Income':'Renda','Kidhome':'Num_criancas','Teenhome':'Num_adolescentes','Dt_Customer':'Insc_cliente','Recency':'Ultima_compra','MntWines':'Gasto_vinho','MntFruits':'Gasto_frutas','MntMeatProducts':'Gasto_carnes','MntFishProducts':'Gasto_peixes','MntSweetProducts':'Gasto_doces','MntGoldProds':'Gasto_ouro','NumDealsPurchases':'Compras_desconto','NumWebPurchases':'Compras_site','NumCatalogPurchases':'Compras_catalogo','NumStorePurchases':'Compras_lojas','NumWebVisitsMonth':'Visitas_site','Complain':'Reclamacao','Response':'Resposta'},inplace=True)

In [ ]:
df

,ID,Ano_nasc,Escolaridade,Estado_Civil,Renda,Num_criancas,Num_adolescentes,Insc_cliente,Ultima_compra,Gasto_vinho,...,Gasto_peixes,Gasto_doces,Gasto_ouro,Compras_desconto,Compras_site,Compras_catalogo,Compras_lojas,Visitas_site,Reclamacao,Resposta
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,172,88,88,3,8,10,4,7,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,2,1,6,2,1,1,2,5,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,111,21,42,1,8,2,10,4,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,10,3,5,2,2,0,4,6,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,46,27,15,5,5,3,6,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,42,118,247,2,9,3,4,5,0,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,0,0,8,7,8,2,5,7,0,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,32,12,24,1,2,3,13,6,0,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,80,30,61,2,6,5,10,3,0,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,2,1,21,3,3,1,4,7,0,1

Tradução

In [ ]:
#Coluna Escolaridade.
df['Escolaridade'].replace(['Graduation','PhD','Master','Basic','2n Cycle'],['Graduacao','PhD','Mestrado','Básico','Pos_Graduacao'],inplace=True)

In [ ]:
#Coluna Estado_Civil.
df['Estado_Civil'].replace(['Single','Together','Married','Divorced','Widow','Alone','Absurd','YOLO'],['Solteiro','Amigado','Casados','Divorciados','Viuvo','Isolado','Absurdo','YOLO'],inplace=True)

In [ ]:
#Fazer backup por segurança.
df2 = df.copy()

In [ ]:
df.head(10)

,ID,Ano_nasc,Escolaridade,Estado_Civil,Renda,Num_criancas,Num_adolescentes,Insc_cliente,Ultima_compra,Gasto_vinho,...,Gasto_peixes,Gasto_doces,Gasto_ouro,Compras_desconto,Compras_site,Compras_catalogo,Compras_lojas,Visitas_site,Reclamacao,Resposta
0,5524,1957,Graduacao,Solteiro,58138.0,0,0,04-09-2012,58,635,...,172,88,88,3,8,10,4,7,0,1
1,2174,1954,Graduacao,Solteiro,46344.0,1,1,08-03-2014,38,11,...,2,1,6,2,1,1,2,5,0,0
2,4141,1965,Graduacao,Amigado,71613.0,0,0,21-08-2013,26,426,...,111,21,42,1,8,2,10,4,0,0
3,6182,1984,Graduacao,Amigado,26646.0,1,0,10-02-2014,26,11,...,10,3,5,2,2,0,4,6,0,0
4,5324,1981,PhD,Casados,58293.0,1,0,19-01-2014,94,173,...,46,27,15,5,5,3,6,5,0,0
5,7446,1967,Mestrado,Amigado,62513.0,0,1,09-09-2013,16,520,...,0,42,14,2,6,4,10,6,0,0
6,965,1971,Graduacao,Divorciados,55635.0,0,1,13-11-2012,34,235,...,50,49,27,4,7,3,7,6,0,0
7,6177,1985,PhD,Casados,33454.0,1,0,08-05-2013,32,76,...,3,1,23,2,4,0,4,8,0,0
8,4855,1974,PhD,Amigado,30351.0,1,0,06-06-2013,19,14,...,3,3,2,1,3,0,2,9,0,1
9,5899,1950,PhD,Amigado,5648.0,1,1,13-03-2014,68,28,...,1,1,13,1,1,0,0,20,0,0

In [ ]:
#Verificando se na coluna ID todos os valores são diferente.
df.ID.is_unique

True

Todas as colunas foram verificadas e onde poderia haver inconsistência já está tratado como NaN.

# Tratamento com PySpark

In [ ]:
#Criar uma variável para configurar a sparksession, que é a minha conexão com o spark.
spark = (
    SparkSession.builder
          .master('local')
          .appName('analisecliente')
          .config('spark.ui.port','4050') 
          .getOrCreate())

In [ ]:
#Informações da criação do SparkSession.
spark

In [ ]:
#Definindo os campos do dataframe com StructType e estruturando as colunas com StructField.
esquema = (
    StructType([
         StructField('ID', IntegerType(), True),
         StructField('Ano_nasc', StringType(), True),
         StructField('Ecolaridade', StringType(), True),
         StructField('Estado_Civil', StringType(), True),
         StructField('Renda', FloatType(), True),
         StructField('Num_criancas', IntegerType(), True),
         StructField('Num_adolescentes', IntegerType(), True),
         StructField('Insc_cliente', StringType(), True),
         StructField('Ultima_compra', IntegerType(), True),
         StructField('Gasto_vinho', IntegerType(), True),
         StructField('Gasto_frutas', IntegerType(), True),
         StructField('Gasto_carnes', IntegerType(), True),
         StructField('Gasto_peixes', IntegerType(), True),
         StructField('Gasto_doces', IntegerType(), True),
         StructField('Gsto_ouro', IntegerType(), True),
         StructField('Compras_desconto', IntegerType(), True),
         StructField('Compras_site', IntegerType(), True),
         StructField('Compras_catalogo', IntegerType(), True),
         StructField('Compras_lojass', IntegerType(), True),
         StructField('Visitas_site', IntegerType(), True),
         StructField('Reclamacao', IntegerType(), True),
         StructField('Resposta', IntegerType(), True),
    ])
)

df1Spark = spark.createDataFrame(df, schema=esquema)

In [ ]:
#Verificar o schema e os tipos.
df1Spark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Ano_nasc: string (nullable = true)
 |-- Ecolaridade: string (nullable = true)
 |-- Estado_Civil: string (nullable = true)
 |-- Renda: float (nullable = true)
 |-- Num_criancas: integer (nullable = true)
 |-- Num_adolescentes: integer (nullable = true)
 |-- Insc_cliente: string (nullable = true)
 |-- Ultima_compra: integer (nullable = true)
 |-- Gasto_vinho: integer (nullable = true)
 |-- Gasto_frutas: integer (nullable = true)
 |-- Gasto_carnes: integer (nullable = true)
 |-- Gasto_peixes: integer (nullable = true)
 |-- Gasto_doces: integer (nullable = true)
 |-- Gsto_ouro: integer (nullable = true)
 |-- Compras_desconto: integer (nullable = true)
 |-- Compras_site: integer (nullable = true)
 |-- Compras_catalogo: integer (nullable = true)
 |-- Compras_lojass: integer (nullable = true)
 |-- Visitas_site: integer (nullable = true)
 |-- Reclamacao: integer (nullable = true)
 |-- Resposta: integer (nullable = true)

In [ ]:
df1Spark.show(30)

+----+--------+-------------+------------+-------+------------+----------------+------------+-------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+
|  ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Insc_cliente|Ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|
+----+--------+-------------+------------+-------+------------+----------------+------------+-------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+
|5524|    1957|    Graduacao|    Solteiro|58138.0|           0|               0|  04-09-2012|           58|        635|          88|         546|         172|         88|       88|               3|           8|              10|             4|           7|         0|       1|
|2174|    1954|    Graduacao|    Solteiro|46344.0|           1|               1|  08-03-2014|           38|         11|           1|           6|           2|          1|        6|               2|           1|               1|             2|           5|         0|       0|
|4141|    1965|    Graduacao|     Amigado|71613.0|           0|               0|  21-08-2013|           26|        426|          49|         127|         111|         21|       42|               1|           8|               2|            10|           4|         0|       0|
|6182|    1984|    Graduacao|     Amigado|26646.0|           1|               0|  10-02-2014|           26|         11|           4|          20|          10|          3|        5|               2|           2|               0|             4|           6|         0|       0|
|5324|    1981|          PhD|     Casados|58293.0|           1|               0|  19-01-2014|           94|        173|          43|         118|          46|         27|       15|               5|           5|               3|             6|           5|         0|       0|
|7446|    1967|     Mestrado|     Amigado|62513.0|           0|               1|  09-09-2013|           16|        520|          42|          98|           0|         42|       14|               2|           6|               4|            10|           6|         0|       0|
| 965|    1971|    Graduacao| Divorciados|55635.0|           0|               1|  13-11-2012|           34|        235|          65|         164|          50|         49|       27|               4|           7|               3|             7|           6|         0|       0|
|6177|    1985|          PhD|     Casados|33454.0|           1|               0|  08-05-2013|           32|         76|          10|          56|           3|          1|       23|               2|           4|               0|             4|           8|         0|       0|
|4855|    1974|          PhD|     Amigado|30351.0|           1|               0|  06-06-2013|           19|         14|           0|          24|           3|          3|        2|               1|           3|               0|             2|           9|         0|       1|
|5899|    1950|          PhD|     Amigado| 5648.0|           1|               1|  13-03-2014|           68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|
|1994|    1983|    Graduacao|     Casados|    NaN|           1|               0|  15-11-2013|           11|          5|           5|           6|           0|          2|        1|               1|           1|               0|             2|           7|         0|       0|
| 387|    1976|       Básico|     Casados| 7500.0|           0|               0|  13-11-2012|           59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|
|2125|    1959|    Graduacao| Divorciados|63033.0|           0|               0|  15-11-2013|           82|        194|          61|         480|         225|        112|       30|               1|           3|               4|             8|           2|         0|       0|
|8180|    1952|     Mestrado| Divorciados|59354.0|           1|               1|  15-11-2013|           53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|
|2569|    1987|    Graduacao|     Casados|17323.0|           0|               0|  10-10-2012|           38|          3|          14|          17|           6|          1|        5|               1|           1|               0|             3|           8|         0|       0|
|2114|    1946|          PhD|    Solteiro|82800.0|           0|               0|  24-11-2012|           23|       1006|          22|         115|          59|         68|       45|               1|           7|               6|            12|           3|         0|       1|
|9736|    1980|    Graduacao|     Casados|41850.0|           1|               1|  24-12-2012|           51|         53|           5|          19|           2|         13|        4|               3|           3|               0|             3|           8|         0|       0|
|4939|    1946|    Graduacao|     Amigado|37760.0|           0|               0|  31-08-2012|           20|         84|           5|          38|         150|         12|       28|               2|           4|               1|             6|           7|         0|       0|
|6565|    1949|     Mestrado|     Casados|76995.0|           0|               1|  28-03-2013|           91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|
|2278|    1985|Pos_Graduacao|    Solteiro|33812.0|           1|               0|  03-11-2012|           86|          4|          17|          19|          30|         24|       39|               2|           2|               1|             3|           6|         0|       0|
|9360|    1982|    Graduacao|     Casados|37040.0|           0|               0|  08-08-2012|           41|         86|           2|          73|          69|         38|       48|               1|           4|               2|             5|           8|         0|       0|
|5376|    1979|    Graduacao|     Casados| 2447.0|           1|               0|  06-01-2013|           42|          1|           1|        1725|           1|          1|        1|              15|           0|              28|             0|           1|         0|       0|
|1993|    1949|          PhD|     Casados|58607.0|           0|               1|  23-12-2012|           63|        867|           0|          86|           0|          0|       19|               3|           2|               3|             9|           8|         0|       0|
|4047|    1954|          PhD|     Casados|65324.0|           0|               1|  11-01-2014|            0|        384|           0|         102|          21|         32|        5|               3|           6|               2|             9|           4|         0|       0|
|1409|    1951|    Graduacao|     Amigado|40689.0|           0|               1|  18-03-2013|           69|        270|           3|          27|          39|          6|       99|               7|           7|               1|             5|           8|         0|       0|
|7892|    1969|    Graduacao|    Solteiro|18589.0|           0|               0|  02-01-2013|           89|          6|           4|          25|          15|         12|       13|               2|           2|               1|             3|           7|         0|       0|
|2404|    1976|    Graduacao|     Casados|53359.0|           1|               1|  27-05-2013|            4|        173|           4|          30|           3|          6|       41|               4|           5|               1|             4|           7|         0|       0|
|5255|    1986|    Graduacao|    Solteiro|    NaN|           1|               0|  20-02-2013|           19|          5|           1|           3|           3|        263|      362|               0|          27|               0|             0|           1|         0|       0|
|9422|    1989|    Graduacao|     Casados|38360.0|           1|               0|  31-05-2013|           26|         36|           2|          42|          20|         21|       10|               2|           2|               1|             4|           3|         0|       0|
|1966|    1965|          PhD|     Casados|84618.0|           0|               0|  22-11-2013|           96|        684|         100|         801|          21|         66|        0|               1|           6|               9|            10|           2|         0|       0|
+----+--------+-------------+------------+-------+------------+----------------+------------+-------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+
only showing top 30 rows

In [ ]:
#Retirar linhas que contém valores NaN.
df1Spark = df1Spark.na.drop(how='any')

In [ ]:
#Verificando a coluna 'Renda' onde havia os valore NaN.
df1Spark.select('Renda').show(40)

+-------+
|  Renda|
+-------+
|58138.0|
|46344.0|
|71613.0|
|26646.0|
|58293.0|
|62513.0|
|55635.0|
|33454.0|
|30351.0|
| 5648.0|
| 7500.0|
|63033.0|
|59354.0|
|17323.0|
|82800.0|
|41850.0|
|37760.0|
|76995.0|
|33812.0|
|37040.0|
| 2447.0|
|58607.0|
|65324.0|
|40689.0|
|18589.0|
|53359.0|
|38360.0|
|84618.0|
|10979.0|
|38620.0|
|40548.0|
|46610.0|
|68657.0|
|49389.0|
|67353.0|
|23718.0|
|42429.0|
|48948.0|
|80011.0|
|20559.0|
+-------+
only showing top 40 rows

In [ ]:
#Renomeando 2 colunas.
df2Spark = df1Spark.withColumnRenamed("Insc_cliente", "Cadastro_Cliente").withColumnRenamed("Ultima_compra", "Tempo_compras_emDias")
df2Spark.show()

+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+
|  ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|
+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+
|5524|    1957|    Graduacao|    Solteiro|58138.0|           0|               0|      04-09-2012|                  58|        635|          88|         546|         172|         88|       88|               3|           8|              10|             4|           7|         0|       1|
|2174|    1954|    Graduacao|    Solteiro|46344.0|           1|               1|      08-03-2014|                  38|         11|           1|           6|           2|          1|        6|               2|           1|               1|             2|           5|         0|       0|
|4141|    1965|    Graduacao|     Amigado|71613.0|           0|               0|      21-08-2013|                  26|        426|          49|         127|         111|         21|       42|               1|           8|               2|            10|           4|         0|       0|
|6182|    1984|    Graduacao|     Amigado|26646.0|           1|               0|      10-02-2014|                  26|         11|           4|          20|          10|          3|        5|               2|           2|               0|             4|           6|         0|       0|
|5324|    1981|          PhD|     Casados|58293.0|           1|               0|      19-01-2014|                  94|        173|          43|         118|          46|         27|       15|               5|           5|               3|             6|           5|         0|       0|
|7446|    1967|     Mestrado|     Amigado|62513.0|           0|               1|      09-09-2013|                  16|        520|          42|          98|           0|         42|       14|               2|           6|               4|            10|           6|         0|       0|
| 965|    1971|    Graduacao| Divorciados|55635.0|           0|               1|      13-11-2012|                  34|        235|          65|         164|          50|         49|       27|               4|           7|               3|             7|           6|         0|       0|
|6177|    1985|          PhD|     Casados|33454.0|           1|               0|      08-05-2013|                  32|         76|          10|          56|           3|          1|       23|               2|           4|               0|             4|           8|         0|       0|
|4855|    1974|          PhD|     Amigado|30351.0|           1|               0|      06-06-2013|                  19|         14|           0|          24|           3|          3|        2|               1|           3|               0|             2|           9|         0|       1|
|5899|    1950|          PhD|     Amigado| 5648.0|           1|               1|      13-03-2014|                  68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|
| 387|    1976|       Básico|     Casados| 7500.0|           0|               0|      13-11-2012|                  59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|
|2125|    1959|    Graduacao| Divorciados|63033.0|           0|               0|      15-11-2013|                  82|        194|          61|         480|         225|        112|       30|               1|           3|               4|             8|           2|         0|       0|
|8180|    1952|     Mestrado| Divorciados|59354.0|           1|               1|      15-11-2013|                  53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|
|2569|    1987|    Graduacao|     Casados|17323.0|           0|               0|      10-10-2012|                  38|          3|          14|          17|           6|          1|        5|               1|           1|               0|             3|           8|         0|       0|
|2114|    1946|          PhD|    Solteiro|82800.0|           0|               0|      24-11-2012|                  23|       1006|          22|         115|          59|         68|       45|               1|           7|               6|            12|           3|         0|       1|
|9736|    1980|    Graduacao|     Casados|41850.0|           1|               1|      24-12-2012|                  51|         53|           5|          19|           2|         13|        4|               3|           3|               0|             3|           8|         0|       0|
|4939|    1946|    Graduacao|     Amigado|37760.0|           0|               0|      31-08-2012|                  20|         84|           5|          38|         150|         12|       28|               2|           4|               1|             6|           7|         0|       0|
|6565|    1949|     Mestrado|     Casados|76995.0|           0|               1|      28-03-2013|                  91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|
|2278|    1985|Pos_Graduacao|    Solteiro|33812.0|           1|               0|      03-11-2012|                  86|          4|          17|          19|          30|         24|       39|               2|           2|               1|             3|           6|         0|       0|
|9360|    1982|    Graduacao|     Casados|37040.0|           0|               0|      08-08-2012|                  41|         86|           2|          73|          69|         38|       48|               1|           4|               2|             5|           8|         0|       0|
+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+
only showing top 20 rows

In [ ]:
#Nova coluna com a soma de gasto dos clientes com os produtos selecionados nos últimos dois anos.
df3Spark = ( df2Spark.withColumn('Soma_de_gasto',
                          F.col('Gasto_vinho') + 
                          F.col('Gasto_frutas') + 
                          F.col('Gasto_carnes') + 
                          F.col('Gasto_peixes') + 
                          F.col('Gasto_doces') + 
                          F.col('Gsto_ouro'))
)

df3Spark.orderBy(F.col('Soma_de_gasto')).show(5)

+-----+--------+-----------+------------+--------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+
|   ID|Ano_nasc|Ecolaridade|Estado_Civil|   Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto|
+-----+--------+-----------+------------+--------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+
|11110|    1973|  Graduacao|    Solteiro|  3502.0|           1|               0|      13-04-2013|                  56|          2|           1|           1|           0|          0|        1|               0|           0|               0|             0|          14|         0|       0|            5|
| 5555|    1975|  Graduacao| Divorciados|153924.0|           0|               0|      07-02-2014|                  81|          1|           1|           1|           1|          1|        1|               0|           0|               0|             0|           0|         0|       0|            6|
| 3955|    1965|  Graduacao| Divorciados|  4861.0|           0|               0|      22-06-2014|                  20|          2|           1|           1|           1|          0|        1|               0|           0|               0|             0|          14|         0|       0|            6|
| 6862|    1971|  Graduacao| Divorciados|  1730.0|           0|               0|      18-05-2014|                  65|          1|           1|           3|           1|          1|        1|              15|           0|               0|             0|          20|         0|       0|            8|
| 5824|    1972|        PhD|     Amigado| 34578.0|           2|               1|      11-04-2014|                   1|          7|           0|           1|           0|          0|        0|               1|           1|               0|             2|           6|         0|       0|            8|
+-----+--------+-----------+------------+--------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+
only showing top 5 rows

In [ ]:
#Nova coluna que identifica se o cliente é vegetariano ou consumidor comum.
df4Spark = df3Spark.withColumn("Tipo_consumidor", F.when((F.col("Gasto_carnes") == 0) & (F.col("Gasto_peixes") == 0), F.lit("É vegetariano"))
                                                   .otherwise(F.lit("Consumidor comum")))

In [ ]:
df4Spark.show(50)

+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|   ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
| 5524|    1957|    Graduacao|    Solteiro|58138.0|           0|               0|      04-09-2012|                  58|        635|          88|         546|         172|         88|       88|               3|           8|              10|             4|           7|         0|       1|         1617|Consumidor comum|
| 2174|    1954|    Graduacao|    Solteiro|46344.0|           1|               1|      08-03-2014|                  38|         11|           1|           6|           2|          1|        6|               2|           1|               1|             2|           5|         0|       0|           27|Consumidor comum|
| 4141|    1965|    Graduacao|     Amigado|71613.0|           0|               0|      21-08-2013|                  26|        426|          49|         127|         111|         21|       42|               1|           8|               2|            10|           4|         0|       0|          776|Consumidor comum|
| 6182|    1984|    Graduacao|     Amigado|26646.0|           1|               0|      10-02-2014|                  26|         11|           4|          20|          10|          3|        5|               2|           2|               0|             4|           6|         0|       0|           53|Consumidor comum|
| 5324|    1981|          PhD|     Casados|58293.0|           1|               0|      19-01-2014|                  94|        173|          43|         118|          46|         27|       15|               5|           5|               3|             6|           5|         0|       0|          422|Consumidor comum|
| 7446|    1967|     Mestrado|     Amigado|62513.0|           0|               1|      09-09-2013|                  16|        520|          42|          98|           0|         42|       14|               2|           6|               4|            10|           6|         0|       0|          716|Consumidor comum|
|  965|    1971|    Graduacao| Divorciados|55635.0|           0|               1|      13-11-2012|                  34|        235|          65|         164|          50|         49|       27|               4|           7|               3|             7|           6|         0|       0|          590|Consumidor comum|
| 6177|    1985|          PhD|     Casados|33454.0|           1|               0|      08-05-2013|                  32|         76|          10|          56|           3|          1|       23|               2|           4|               0|             4|           8|         0|       0|          169|Consumidor comum|
| 4855|    1974|          PhD|     Amigado|30351.0|           1|               0|      06-06-2013|                  19|         14|           0|          24|           3|          3|        2|               1|           3|               0|             2|           9|         0|       1|           46|Consumidor comum|
| 5899|    1950|          PhD|     Amigado| 5648.0|           1|               1|      13-03-2014|                  68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|           49|Consumidor comum|
|  387|    1976|       Básico|     Casados| 7500.0|           0|               0|      13-11-2012|                  59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|           61|Consumidor comum|
| 2125|    1959|    Graduacao| Divorciados|63033.0|           0|               0|      15-11-2013|                  82|        194|          61|         480|         225|        112|       30|               1|           3|               4|             8|           2|         0|       0|         1102|Consumidor comum|
| 8180|    1952|     Mestrado| Divorciados|59354.0|           1|               1|      15-11-2013|                  53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|          310|Consumidor comum|
| 2569|    1987|    Graduacao|     Casados|17323.0|           0|               0|      10-10-2012|                  38|          3|          14|          17|           6|          1|        5|               1|           1|               0|             3|           8|         0|       0|           46|Consumidor comum|
| 2114|    1946|          PhD|    Solteiro|82800.0|           0|               0|      24-11-2012|                  23|       1006|          22|         115|          59|         68|       45|               1|           7|               6|            12|           3|         0|       1|         1315|Consumidor comum|
| 9736|    1980|    Graduacao|     Casados|41850.0|           1|               1|      24-12-2012|                  51|         53|           5|          19|           2|         13|        4|               3|           3|               0|             3|           8|         0|       0|           96|Consumidor comum|
| 4939|    1946|    Graduacao|     Amigado|37760.0|           0|               0|      31-08-2012|                  20|         84|           5|          38|         150|         12|       28|               2|           4|               1|             6|           7|         0|       0|          317|Consumidor comum|
| 6565|    1949|     Mestrado|     Casados|76995.0|           0|               1|      28-03-2013|                  91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|         1782|Consumidor comum|
| 2278|    1985|Pos_Graduacao|    Solteiro|33812.0|           1|               0|      03-11-2012|                  86|          4|          17|          19|          30|         24|       39|               2|           2|               1|             3|           6|         0|       0|          133|Consumidor comum|
| 9360|    1982|    Graduacao|     Casados|37040.0|           0|               0|      08-08-2012|                  41|         86|           2|          73|          69|         38|       48|               1|           4|               2|             5|           8|         0|       0|          316|Consumidor comum|
| 5376|    1979|    Graduacao|     Casados| 2447.0|           1|               0|      06-01-2013|                  42|          1|           1|        1725|           1|          1|        1|              15|           0|              28|             0|           1|         0|       0|         1730|Consumidor comum|
| 1993|    1949|          PhD|     Casados|58607.0|           0|               1|      23-12-2012|                  63|        867|           0|          86|           0|          0|       19|               3|           2|               3|             9|           8|         0|       0|          972|Consumidor comum|
| 4047|    1954|          PhD|     Casados|65324.0|           0|               1|      11-01-2014|                   0|        384|           0|         102|          21|         32|        5|               3|           6|               2|             9|           4|         0|       0|          544|Consumidor comum|
| 1409|    1951|    Graduacao|     Amigado|40689.0|           0|               1|      18-03-2013|                  69|        270|           3|          27|          39|          6|       99|               7|           7|               1|             5|           8|         0|       0|          444|Consumidor comum|
| 7892|    1969|    Graduacao|    Solteiro|18589.0|           0|               0|      02-01-2013|                  89|          6|           4|          25|          15|         12|       13|               2|           2|               1|             3|           7|         0|       0|           75|Consumidor comum|
| 2404|    1976|    Graduacao|     Casados|53359.0|           1|               1|      27-05-2013|                   4|        173|           4|          30|           3|          6|       41|               4|           5|               1|             4|           7|         0|       0|          257|Consumidor comum|
| 9422|    1989|    Graduacao|     Casados|38360.0|           1|               0|      31-05-2013|                  26|         36|           2|          42|          20|         21|       10|               2|           2|               1|             4|           3|         0|       0|          131|Consumidor comum|
| 1966|    1965|          PhD|     Casados|84618.0|           0|               0|      22-11-2013|                  96|        684|         100|         801|          21|         66|        0|               1|           6|               9|            10|           2|         0|       0|         1672|Consumidor comum|
| 6864|    1989|     Mestrado| Divorciados|10979.0|           0|               0|      22-05-2014|                  34|          8|           4|          10|           2|          2|        4|               2|           3|               0|             3|           5|         0|       0|           30|Consumidor comum|
| 3033|    1963|     Mestrado|     Amigado|38620.0|           0|               0|      11-05-2013|                  56|        112|          17|          44|          34|         22|       89|               1|           2|               5|             3|           3|         0|       0|          318|Consumidor comum|
| 5710|    1970|    Graduacao|     Amigado|40548.0|           0|               1|      10-10-2012|                  31|        110|           0|           5|           2|          0|        3|               2|           2|               1|             4|           5|         0|       0|          120|Consumidor comum|
| 7373|    1952|          PhD| Divorciados|46610.0|           0|               2|      29-10-2012|                   8|         96|          12|          96|          33|         22|       43|               6|           4|               1|             6|           6|         0|       1|          302|Consumidor comum|
| 8755|    1946|     Mestrado|     Casados|68657.0|           0|               0|      20-02-2013|                   4|        482|          34|         471|         119|         68|       22|               1|           3|               5|             9|           7|         0|       0|         1196|Consumidor comum|
|10738|    1951|     Mestrado|    Solteiro|49389.0|           1|               1|      29-08-2013|                  55|         40|           0|          19|           2|          1|        3|               1|           2|               0|             3|           7|         0|       0|           65|Consumidor comum|
| 4339|    1970|          PhD|     Casados|67353.0|           0|               1|      31-12-2013|                  37|        702|          17|         151|           0|          8|       35|               5|           5|               6|            12|           2|         0|       0|          913|Consumidor comum|
|10755|    1976|Pos_Graduacao|     Casados|23718.0|           1|               0|      02-09-2013|                  76|          6|           3|          14|          15|          7|       36|               3|           3|               1|             2|           7|         0|       0|           81|Consumidor comum|
| 8595|    1973|    Graduacao|       Viuvo|42429.0|           0|               1|      11-02-2014|                  99|         55|           0|           6|           2|          0|        4|               2|           1|               1|             3|           5|         0|       0|           67|Consumidor comum|
| 2968|    1943|          PhD| Divorciados|48948.0|           0|               0|      01-02-2013|                  53|        437|           8|         206|         160|         49|       42|               2|           7|              10|             5|           6|         0|       1|          902|Consumidor comum|
| 8601|    1980|    Graduacao|     Casados|80011.0|           0|               1|      29-04-2013|                   3|        421|          76|         536|          82|        178|      102|               2|           8|               6|             5|           4|         0|       0|         1395|Consumidor comum|
|  503|    1985|     Mestrado|     Casados|20559.0|           1|               0|      12-03-2013|                  88|         13|           1|          29|           3|          0|        7|               2|           2|               0|             3|           8|         0|       0|           53|Consumidor comum|
| 8430|    1957|    Graduacao|     Amigado|21994.0|           0|               1|      24-12-2012|                   4|          9|           0|           6|           3|          1|        3|               1|           0|               0|             3|           5|         0|       0|           22|Consumidor comum|
| 2139|    1975|     Mestrado|     Casados| 7500.0|           1|               0|      02-10-2013|                  19|          3|           1|          10|           3|          2|       12|               3|           2|               0|             3|           5|         0|       0|           31|Consumidor comum|
| 1371|    1976|    Graduacao|    Solteiro|79941.0|           0|               0|      28-06-2014|                  72|        123|         164|         266|         227|         30|      174|               1|           2|               4|             9|           1|         0|       0|          984|Consumidor comum|
| 9909|    1996|Pos_Graduacao|     Casados| 7500.0|           0|               0|      09-11-2012|                  24|          3|          18|          14|          15|         22|       50|               3|           3|               1|             3|           9|         0|       1|          122|Consumidor comum|
| 7286|    1968|    Graduacao|     Amigado|41728.0|           1|               0|      24-05-2013|                  92|         13|           6|          15|           3|          5|       13|               1|           2|               0|             2|          10|         0|       0|           55|Consumidor comum|
| 6566|    1954|          PhD|     Casados|72550.0|           1|               1|      08-11-2012|                  39|        826|          50|         317|          50|         38|       38|               9|           5|               2|            12|           8|         0|       0|         1319|Consumidor comum|
| 8614|    1957|    Graduacao|       Viuvo|65486.0|           0|               1|      12-05-2014|                  29|        245|          19|         125|          37|         67|       14|               1|           4|               2|            10|           2|         0|       0|          507|Consumidor comum|
| 4114|    1964|     Mestrado|     Casados|79143.0|           0|               0|      11-08-2012|                   2|        650|          37|         780|          27|        167|       32|               1|           6|               9|            13|           3|         0|       0|         1693|Consumidor comum|
| 1331|    1977|    Graduacao|    Solteiro|35790.0|           1|               0|      02-01-2013|                  54|         12|           6|          20|          30|          1|        3|               2|           2|               0|             3|           7|         0|       0|           72|Consumidor comum|
| 2225|    1977|    Graduacao| Divorciados|82582.0|           0|               0|      07-06-2014|                  54|        510|         120|         550|         156|         40|      241|               1|           4|               9|             7|           1|         0|       1|         1617|Consumidor comum|
+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 50 rows

Aplicando Filtro.

In [ ]:
#Filtro de clientes que têm Graduação e gastaram mais de 100 dólares com frutas nos últimos dois anos.
df4Spark.filter(F.col("Ecolaridade") == "Graduacao").filter(F.col("Gasto_frutas") > 100 ).show(50)

+-----+--------+-----------+------------+--------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|   ID|Ano_nasc|Ecolaridade|Estado_Civil|   Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+-----+--------+-----------+------------+--------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
| 1371|    1976|  Graduacao|    Solteiro| 79941.0|           0|               0|      28-06-2014|                  72|        123|         164|         266|         227|         30|      174|               1|           2|               4|             9|           1|         0|       0|          984|Consumidor comum|
| 2225|    1977|  Graduacao| Divorciados| 82582.0|           0|               0|      07-06-2014|                  54|        510|         120|         550|         156|         40|      241|               1|           4|               9|             7|           1|         0|       1|         1617|Consumidor comum|
| 6312|    1959|  Graduacao|     Casados| 65031.0|           0|               1|      17-03-2013|                  29|        258|         107|         291|          84|         37|       86|               4|          10|               3|            13|           7|         0|       0|          863|Consumidor comum|
| 7503|    1976|  Graduacao|    Solteiro| 75825.0|           0|               0|      12-10-2012|                  40|       1032|         105|         779|         137|        105|       51|               0|           5|               8|             9|           4|         0|       1|         2209|Consumidor comum|
| 4518|    1979|  Graduacao|     Amigado| 85693.0|           0|               1|      20-04-2013|                  59|        386|         172|         183|         185|        132|      111|               2|           9|               5|            11|           5|         0|       0|         1169|Consumidor comum|
| 2683|    1969|  Graduacao|     Casados| 52413.0|           0|               2|      02-02-2013|                  56|        295|         106|         271|          75|         98|       65|               4|           6|               4|            12|           6|         0|       0|          910|Consumidor comum|
| 5077|    1979|  Graduacao|     Amigado| 77298.0|           0|               1|      02-11-2013|                  46|        425|         115|         292|          23|         35|       79|               1|           6|               6|            11|           3|         0|       0|          969|Consumidor comum|
|11071|    1984|  Graduacao|    Solteiro| 79607.0|           0|               0|      21-04-2013|                  37|        450|         133|         951|         173|          0|      216|               1|           3|               6|             6|           1|         0|       1|         1923|Consumidor comum|
| 9597|    1969|  Graduacao|     Casados| 73448.0|           0|               0|      10-02-2014|                  10|        236|         106|         189|          23|         41|      130|               1|           7|               2|             9|           4|         0|       0|          725|Consumidor comum|
| 6637|    1988|  Graduacao|    Solteiro| 66951.0|           0|               0|      02-11-2013|                  46|        277|         162|         305|         173|         76|      124|               1|           3|               4|             7|           1|         0|       0|         1117|Consumidor comum|
| 6422|    1954|  Graduacao|     Casados| 86718.0|           0|               0|      17-01-2013|                  20|        344|         189|         482|          50|         33|      172|               1|           5|               6|             5|           2|         0|       0|         1270|Consumidor comum|
|10424|    1968|  Graduacao|    Solteiro| 75922.0|           0|               0|      09-12-2013|                  60|        265|         138|         553|         224|         23|       92|               1|           4|               4|             9|           1|         0|       0|         1295|Consumidor comum|
| 9940|    1958|  Graduacao|     Amigado| 64961.0|           0|               1|      23-12-2012|                  97|        382|         114|         276|          75|        124|       38|               2|           6|               4|             4|           3|         0|       0|         1009|Consumidor comum|
| 9529|    1990|  Graduacao|     Casados| 73687.0|           0|               0|      28-11-2013|                   8|        559|         153|         503|         218|         13|      181|               1|           3|               9|             9|           2|         0|       1|         1627|Consumidor comum|
|10089|    1974|  Graduacao| Divorciados|102692.0|           0|               0|      05-04-2013|                   5|        168|         148|         444|          32|        172|      148|               1|           6|               9|            13|           2|         0|       1|         1112|Consumidor comum|
| 3445|    1956|  Graduacao|    Solteiro| 60714.0|           0|               0|      17-01-2013|                  56|        216|         162|         224|         101|         92|      162|               2|           7|               4|            10|           5|         0|       1|          957|Consumidor comum|
|10102|    1966|  Graduacao|       Viuvo| 79946.0|           0|               0|      12-05-2014|                  19|        395|         183|         565|         166|        141|       28|               1|           5|              11|             5|           3|         0|       0|         1478|Consumidor comum|
| 4543|    1980|  Graduacao|     Casados| 82497.0|           0|               0|      31-10-2012|                  32|        777|         129|         573|         216|         21|      203|               1|           2|               7|             9|           4|         0|       0|         1919|Consumidor comum|
| 7381|    1968|  Graduacao| Divorciados| 75693.0|           0|               0|      06-12-2012|                  10|        797|         153|         293|          72|         97|       30|               1|          11|               4|             6|           4|         0|       1|         1442|Consumidor comum|
| 1826|    1970|  Graduacao| Divorciados| 84835.0|           0|               0|      16-06-2014|                   0|        189|         104|         379|         111|        189|      218|               1|           4|               4|             6|           1|         0|       1|         1190|Consumidor comum|
| 7274|    1957|  Graduacao|     Casados| 78618.0|           0|               0|      28-09-2012|                  87|        736|         163|         818|         212|        163|       61|               1|           4|               7|            10|           2|         0|       0|         2153|Consumidor comum|
| 8318|    1979|  Graduacao|     Amigado| 90300.0|           0|               0|      03-01-2014|                   7|        594|         134|         786|          33|        134|       57|               0|           5|               6|             8|           1|         0|       0|         1738|Consumidor comum|
| 2669|    1993|  Graduacao|    Solteiro| 74293.0|           0|               0|      04-05-2014|                  66|        375|         152|         335|          93|         91|       81|               1|           5|               4|             6|           2|         0|       0|         1127|Consumidor comum|
| 9999|    1965|  Graduacao|     Amigado| 75276.0|           0|               0|      27-09-2012|                   2|        610|         105|         125|         137|         42|       21|               1|           9|               4|             9|           5|         0|       0|         1040|Consumidor comum|
| 4216|    1981|  Graduacao|    Solteiro| 91065.0|           0|               0|      22-02-2013|                  33|        822|         114|         108|         179|        137|      114|               1|           7|               9|             9|           3|         0|       1|         1474|Consumidor comum|
| 1340|    1986|  Graduacao|     Casados| 92910.0|           0|               0|      24-04-2014|                  42|        551|         137|         792|         179|        103|       33|               1|           6|               7|            13|           1|         0|       0|         1795|Consumidor comum|
| 1137|    1964|  Graduacao|    Solteiro| 81246.0|           0|               0|      29-12-2013|                  87|        398|         190|         537|          61|        156|       37|               1|           4|               5|             7|           1|         0|       0|         1379|Consumidor comum|
|10584|    1976|  Graduacao|     Casados| 65665.0|           0|               1|      02-12-2013|                  77|        225|         162|         387|         106|         36|       29|               1|           5|              10|             8|           3|         0|       0|          945|Consumidor comum|
| 8939|    1959|  Graduacao| Divorciados| 61250.0|           0|               1|      16-12-2012|                  49|        382|         138|          65|          60|         26|       59|               6|           5|               2|            12|           5|         0|       0|          730|Consumidor comum|
| 4702|    1964|  Graduacao|    Solteiro| 61839.0|           0|               0|      12-08-2012|                  20|       1000|         155|         379|         224|         17|      120|               1|           4|               8|             4|           8|         0|       0|         1895|Consumidor comum|
| 6931|    1967|  Graduacao| Divorciados| 76982.0|           0|               0|      15-02-2014|                  19|        464|         151|         292|          65|         60|       30|               1|           8|               3|             4|           4|         0|       1|         1062|Consumidor comum|
| 8314|    1982|  Graduacao|     Casados| 79908.0|           0|               0|      05-04-2013|                  30|        557|         129|         761|          29|        185|      111|               1|           5|               6|             7|           2|         0|       0|         1772|Consumidor comum|
| 3179|    1980|  Graduacao|    Solteiro| 81741.0|           0|               0|      16-06-2013|                  75|        249|         153|         940|          58|        134|       38|               0|           6|               6|             7|           2|         0|       0|         1572|Consumidor comum|
|  944|    1962|  Graduacao|     Casados| 56181.0|           0|               1|      08-01-2013|                   6|        121|         103|          69|           8|         44|       48|               1|           4|               2|             7|           4|         0|       0|          393|Consumidor comum|
| 4611|    1970|  Graduacao|     Amigado|105471.0|           0|               0|      21-01-2013|                  36|       1009|         181|         104|         202|         21|      207|               0|           9|               8|            13|           3|         0|       1|         1724|Consumidor comum|
| 9204|    1970|  Graduacao|       Viuvo| 66731.0|           0|               1|      12-09-2012|                  33|        371|         159|         194|          58|        106|      141|               4|           4|               3|             6|           3|         0|       0|         1029|Consumidor comum|
| 4910|    1967|  Graduacao| Divorciados| 68743.0|           0|               0|      30-08-2012|                  81|       1132|         134|         384|         175|        134|      115|               1|          11|               5|            13|           7|         0|       0|         2074|Consumidor comum|
|10196|    1978|  Graduacao|     Casados| 71427.0|           2|               0|      12-03-2014|                  26|        212|         123|         177|          15|         64|       23|               2|           8|               2|             8|           4|         0|       0|          614|Consumidor comum|
|10936|    1965|  Graduacao|     Casados| 72190.0|           0|               0|      13-02-2013|                  79|        597|         166|         597|         172|        166|      249|               1|           5|               6|             4|           3|         0|       0|         1947|Consumidor comum|
| 5564|    1969|  Graduacao|     Amigado| 62882.0|           0|               1|      09-08-2012|                  26|        509|         133|         497|          78|         24|       97|               2|           7|               5|             6|           4|         0|       0|         1338|Consumidor comum|
| 3667|    1969|  Graduacao|     Casados| 80952.0|           0|               0|      28-02-2013|                  20|        778|         178|         689|          41|         27|       44|               1|           8|               5|            11|           8|         0|       1|         1757|Consumidor comum|
| 9687|    1975|  Graduacao|    Solteiro| 73170.0|           0|               0|      31-05-2014|                   1|        184|         174|         256|          50|         30|       32|               1|           5|               4|             6|           2|         0|       0|          726|Consumidor comum|
| 9904|    1956|  Graduacao|     Casados| 71391.0|           0|               1|      29-03-2013|                  50|        336|         123|         274|          46|        123|      141|               5|           6|               5|            12|           3|         0|       0|         1043|Consumidor comum|
| 1456|    1979|  Graduacao|    Solteiro| 60474.0|           0|               1|      01-04-2013|                  25|        265|         199|         303|         234|          9|      170|               7|          10|               2|            12|           7|         0|       0|         1180|Consumidor comum|
| 5046|    1958|  Graduacao| Divorciados| 78331.0|           0|               1|      23-01-2014|                  97|        756|         138|         354|         160|        169|       61|               2|          10|               6|             7|           4|         0|       0|         1638|Consumidor comum|
| 6445|    1967|  Graduacao|     Amigado| 66825.0|           0|               0|      14-07-2013|                  73|        243|         101|         405|          29|         40|       40|               1|           4|               5|             6|           2|         0|       0|          858|Consumidor comum|
|10037|    1993|  Graduacao|    Solteiro| 74293.0|           0|               0|      04-05-2014|                  66|        375|         152|         335|          93|         91|       81|               1|           5|               4|             6|           2|         0|       0|         1127|Consumidor comum|
| 7801|    1959|  Graduacao|     Amigado| 54753.0|           0|               1|      12-09-2013|                  87|        197|         107|         227|           7|         59|      131|               3|           5|               2|            11|           4|         0|       0|          728|Consumidor comum|
|10981|    1988|  Graduacao|     Casados| 84219.0|           0|               0|      02-02-2014|                  27|        434|         137|         400|          45|        137|       45|               1|           3|               4|            10|           1|         0|       0|         1198|Consumidor comum|
| 5718|    1950|  Graduacao|     Casados| 80763.0|           0|               0|      15-08-2013|                  17|        674|         168|         108|         192|         42|      231|               1|           5|              11|             6|           3|         0|       1|         1415|Consumidor comum|
+-----+--------+-----------+------------+--------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 50 rows

Aplicando Ordenação.

In [ ]:
#Ordenação de compras com desconto de acordo com a renda do cliente.
df4Spark.select(F.col("Renda"), F.col("Compras_desconto")).sort(F.col("Renda")).show(100)

Aplicando Agrupamento.

In [ ]:
#Agrupamento de clientes que tiveram gasto com carnes nos últimos 2 anos, por Estado Civil.
df5Spark = df4Spark.select(F.col("Estado_Civil"), F.col("Gasto_carnes")).distinct().groupBy("Estado_Civil")
df5Spark.count().show(10)

+------------+-----+
|Estado_Civil|count|
+------------+-----+
|        YOLO|    1|
| Divorciados|  149|
|    Solteiro|  242|
|     Absurdo|    2|
|     Isolado|    3|
|     Casados|  325|
|     Amigado|  257|
|       Viuvo|   59|
+------------+-----+

In [ ]:
#Coluna de compras feitas pelo site de acordo com o ano de nascimento.
df6Spark = df4Spark.groupBy(F.col("Ano_nasc")).sum("Compras_site").show()

+--------+-----------------+
|Ano_nasc|sum(Compras_site)|
+--------+-----------------+
|    1953|              158|
|    1957|              174|
|    1987|               90|
|    1956|              273|
|    1958|              224|
|    1943|               38|
|    1972|              313|
|    1988|               99|
|    1977|              207|
|    1971|              329|
|    1984|              116|
|    1982|              176|
|    1941|                7|
|    1965|              344|
|    1962|              197|
|    1954|              240|
|    1981|              154|
|    1940|                3|
|    1978|              270|
|    1974|              271|
+--------+-----------------+
only showing top 20 rows

Utilizar pelo menos duas Window Functions

In [ ]:
#Particionando uma janela a partir da coluna Escolaridade.
w0 = Window.partitionBy("Ecolaridade").orderBy("Renda")

In [ ]:
#Aplicar a função row_number em relação a Escolaridade.
df4Spark.withColumn('row_number', F.row_number().over(w0)).show()

+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+----------+
|   ID|Ano_nasc|Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|row_number|
+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+----------+
|  387|    1976|     Básico|     Casados| 7500.0|           0|               0|      13-11-2012|                  59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|           61|Consumidor comum|         1|
| 4136|    1992|     Básico|    Solteiro| 7500.0|           1|               0|      03-12-2012|                  63|         10|          17|          18|           8|         26|       40|               4|           3|               2|             2|           9|         0|       0|          119|Consumidor comum|         2|
|10395|    1986|     Básico|    Solteiro| 8940.0|           1|               0|      22-08-2012|                  25|          1|          45|           3|           4|          6|       42|               3|           3|               1|             3|           8|         0|       0|          101|Consumidor comum|         3|
| 5342|    1976|     Básico| Divorciados| 9548.0|           1|               0|      08-08-2012|                  31|          0|           1|           3|          10|          6|        9|               2|           1|               0|             3|           8|         0|       0|           29|Consumidor comum|         4|
| 7349|    1973|     Básico|     Amigado| 9722.0|           1|               0|      02-10-2012|                   7|          6|          17|          16|           6|         16|       42|               4|           3|               1|             3|           8|         0|       1|          103|Consumidor comum|         5|
| 9316|    1952|     Básico|     Amigado|13084.0|           0|               0|      02-11-2013|                  29|          2|           0|           7|           3|          7|       10|               1|           1|               0|             3|           6|         0|       0|           29|Consumidor comum|         6|
|10069|    1988|     Básico|     Amigado|13724.0|           1|               0|      31-08-2012|                  43|          2|           7|           5|           2|         15|       27|               1|           2|               0|             2|           9|         0|       0|           58|Consumidor comum|         7|
| 5802|    1972|     Básico|     Casados|14188.0|           0|               0|      28-02-2013|                  40|          2|           7|          11|          16|         12|       27|               1|           2|               0|             4|           6|         0|       0|           75|Consumidor comum|         8|
|  193|    1996|     Básico|     Casados|14421.0|           0|               0|      17-02-2014|                  81|          0|           0|           2|           3|          3|        8|               1|           1|               0|             2|           5|         0|       0|           16|Consumidor comum|         9|
| 8700|    1986|     Básico|    Solteiro|14906.0|           0|               0|      22-12-2012|                  86|          7|           7|          14|           7|         16|       15|               3|           2|               1|             3|           7|         0|       0|           66|Consumidor comum|        10|
| 3850|    1963|     Básico|     Amigado|14918.0|           0|               1|      07-12-2012|                  52|          3|           3|           3|          15|          4|       15|               1|           1|               0|             3|           6|         0|       0|           43|Consumidor comum|        11|
| 3628|    1987|     Básico|    Solteiro|15038.0|           1|               0|      29-01-2013|                  93|          4|           8|          11|          19|         12|       26|               2|           2|               1|             2|           9|         0|       0|           80|Consumidor comum|        12|
| 3839|    1958|     Básico|    Solteiro|15056.0|           1|               1|      03-05-2013|                  76|          6|          12|           3|          21|          6|       40|               5|           2|               2|             3|           5|         0|       0|           88|Consumidor comum|        13|
| 7600|    1992|     Básico|    Solteiro|15253.0|           1|               0|      28-10-2013|                  13|          1|           3|           3|           8|          1|       13|               2|           1|               0|             3|           7|         0|       0|           29|Consumidor comum|        14|
| 6347|    1979|     Básico|    Solteiro|15862.0|           1|               0|      27-06-2013|                  26|          1|           1|           4|          11|          9|       10|               1|           1|               0|             3|           8|         0|       0|           36|Consumidor comum|        15|
|  642|    1980|     Básico|     Casados|16005.0|           1|               0|      14-08-2012|                  69|          1|           3|           2|          20|         30|       47|               3|           2|               1|             2|           8|         0|       0|          103|Consumidor comum|        16|
| 5394|    1979|     Básico|    Solteiro|16014.0|           1|               1|      17-03-2013|                  42|          3|           9|           4|           7|          8|        7|               4|           1|               1|             4|           3|         0|       0|           38|Consumidor comum|        17|
| 7620|    1990|     Básico|    Solteiro|16185.0|           1|               0|      05-08-2013|                  71|          5|          11|          16|          21|          8|       45|               2|           2|               2|             2|           8|         0|       0|          106|Consumidor comum|        18|
| 8977|    1985|     Básico|    Solteiro|16581.0|           0|               0|      12-01-2013|                  51|          1|           3|           4|           2|          3|       11|               1|           0|               0|             3|           4|         0|       0|           24|Consumidor comum|        19|
| 1384|    1992|     Básico|     Casados|17256.0|           1|               0|      23-11-2013|                  10|          6|           4|          14|           8|          8|       22|               2|           2|               1|             2|           8|         0|       0|           62|Consumidor comum|        20|
+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+----------+
only showing top 20 rows

In [ ]:
#Aplicar a função lag sobre a coluna Renda.
df4Spark.withColumn('lag', F.lag("Renda", 3).over(w0)).show()

+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+-------+
|   ID|Ano_nasc|Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|    lag|
+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+-------+
|  387|    1976|     Básico|     Casados| 7500.0|           0|               0|      13-11-2012|                  59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|           61|Consumidor comum|   null|
| 4136|    1992|     Básico|    Solteiro| 7500.0|           1|               0|      03-12-2012|                  63|         10|          17|          18|           8|         26|       40|               4|           3|               2|             2|           9|         0|       0|          119|Consumidor comum|   null|
|10395|    1986|     Básico|    Solteiro| 8940.0|           1|               0|      22-08-2012|                  25|          1|          45|           3|           4|          6|       42|               3|           3|               1|             3|           8|         0|       0|          101|Consumidor comum|   null|
| 5342|    1976|     Básico| Divorciados| 9548.0|           1|               0|      08-08-2012|                  31|          0|           1|           3|          10|          6|        9|               2|           1|               0|             3|           8|         0|       0|           29|Consumidor comum| 7500.0|
| 7349|    1973|     Básico|     Amigado| 9722.0|           1|               0|      02-10-2012|                   7|          6|          17|          16|           6|         16|       42|               4|           3|               1|             3|           8|         0|       1|          103|Consumidor comum| 7500.0|
| 9316|    1952|     Básico|     Amigado|13084.0|           0|               0|      02-11-2013|                  29|          2|           0|           7|           3|          7|       10|               1|           1|               0|             3|           6|         0|       0|           29|Consumidor comum| 8940.0|
|10069|    1988|     Básico|     Amigado|13724.0|           1|               0|      31-08-2012|                  43|          2|           7|           5|           2|         15|       27|               1|           2|               0|             2|           9|         0|       0|           58|Consumidor comum| 9548.0|
| 5802|    1972|     Básico|     Casados|14188.0|           0|               0|      28-02-2013|                  40|          2|           7|          11|          16|         12|       27|               1|           2|               0|             4|           6|         0|       0|           75|Consumidor comum| 9722.0|
|  193|    1996|     Básico|     Casados|14421.0|           0|               0|      17-02-2014|                  81|          0|           0|           2|           3|          3|        8|               1|           1|               0|             2|           5|         0|       0|           16|Consumidor comum|13084.0|
| 8700|    1986|     Básico|    Solteiro|14906.0|           0|               0|      22-12-2012|                  86|          7|           7|          14|           7|         16|       15|               3|           2|               1|             3|           7|         0|       0|           66|Consumidor comum|13724.0|
| 3850|    1963|     Básico|     Amigado|14918.0|           0|               1|      07-12-2012|                  52|          3|           3|           3|          15|          4|       15|               1|           1|               0|             3|           6|         0|       0|           43|Consumidor comum|14188.0|
| 3628|    1987|     Básico|    Solteiro|15038.0|           1|               0|      29-01-2013|                  93|          4|           8|          11|          19|         12|       26|               2|           2|               1|             2|           9|         0|       0|           80|Consumidor comum|14421.0|
| 3839|    1958|     Básico|    Solteiro|15056.0|           1|               1|      03-05-2013|                  76|          6|          12|           3|          21|          6|       40|               5|           2|               2|             3|           5|         0|       0|           88|Consumidor comum|14906.0|
| 7600|    1992|     Básico|    Solteiro|15253.0|           1|               0|      28-10-2013|                  13|          1|           3|           3|           8|          1|       13|               2|           1|               0|             3|           7|         0|       0|           29|Consumidor comum|14918.0|
| 6347|    1979|     Básico|    Solteiro|15862.0|           1|               0|      27-06-2013|                  26|          1|           1|           4|          11|          9|       10|               1|           1|               0|             3|           8|         0|       0|           36|Consumidor comum|15038.0|
|  642|    1980|     Básico|     Casados|16005.0|           1|               0|      14-08-2012|                  69|          1|           3|           2|          20|         30|       47|               3|           2|               1|             2|           8|         0|       0|          103|Consumidor comum|15056.0|
| 5394|    1979|     Básico|    Solteiro|16014.0|           1|               1|      17-03-2013|                  42|          3|           9|           4|           7|          8|        7|               4|           1|               1|             4|           3|         0|       0|           38|Consumidor comum|15253.0|
| 7620|    1990|     Básico|    Solteiro|16185.0|           1|               0|      05-08-2013|                  71|          5|          11|          16|          21|          8|       45|               2|           2|               2|             2|           8|         0|       0|          106|Consumidor comum|15862.0|
| 8977|    1985|     Básico|    Solteiro|16581.0|           0|               0|      12-01-2013|                  51|          1|           3|           4|           2|          3|       11|               1|           0|               0|             3|           4|         0|       0|           24|Consumidor comum|16005.0|
| 1384|    1992|     Básico|     Casados|17256.0|           1|               0|      23-11-2013|                  10|          6|           4|          14|           8|          8|       22|               2|           2|               1|             2|           8|         0|       0|           62|Consumidor comum|16014.0|
+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+-------+
only showing top 20 rows

# Consultas com SparkSQL

In [ ]:
#Criando uma exibição temporária do dataframe.
df4Spark.createOrReplaceTempView("cadastro_clientes")

In [ ]:
#Abrindo a tabela "cadastro_clientes".
spark.sql("SELECT * FROM cadastro_clientes").show()

+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|  ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|5524|    1957|    Graduacao|    Solteiro|58138.0|           0|               0|      04-09-2012|                  58|        635|          88|         546|         172|         88|       88|               3|           8|              10|             4|           7|         0|       1|         1617|Consumidor comum|
|2174|    1954|    Graduacao|    Solteiro|46344.0|           1|               1|      08-03-2014|                  38|         11|           1|           6|           2|          1|        6|               2|           1|               1|             2|           5|         0|       0|           27|Consumidor comum|
|4141|    1965|    Graduacao|     Amigado|71613.0|           0|               0|      21-08-2013|                  26|        426|          49|         127|         111|         21|       42|               1|           8|               2|            10|           4|         0|       0|          776|Consumidor comum|
|6182|    1984|    Graduacao|     Amigado|26646.0|           1|               0|      10-02-2014|                  26|         11|           4|          20|          10|          3|        5|               2|           2|               0|             4|           6|         0|       0|           53|Consumidor comum|
|5324|    1981|          PhD|     Casados|58293.0|           1|               0|      19-01-2014|                  94|        173|          43|         118|          46|         27|       15|               5|           5|               3|             6|           5|         0|       0|          422|Consumidor comum|
|7446|    1967|     Mestrado|     Amigado|62513.0|           0|               1|      09-09-2013|                  16|        520|          42|          98|           0|         42|       14|               2|           6|               4|            10|           6|         0|       0|          716|Consumidor comum|
| 965|    1971|    Graduacao| Divorciados|55635.0|           0|               1|      13-11-2012|                  34|        235|          65|         164|          50|         49|       27|               4|           7|               3|             7|           6|         0|       0|          590|Consumidor comum|
|6177|    1985|          PhD|     Casados|33454.0|           1|               0|      08-05-2013|                  32|         76|          10|          56|           3|          1|       23|               2|           4|               0|             4|           8|         0|       0|          169|Consumidor comum|
|4855|    1974|          PhD|     Amigado|30351.0|           1|               0|      06-06-2013|                  19|         14|           0|          24|           3|          3|        2|               1|           3|               0|             2|           9|         0|       1|           46|Consumidor comum|
|5899|    1950|          PhD|     Amigado| 5648.0|           1|               1|      13-03-2014|                  68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|           49|Consumidor comum|
| 387|    1976|       Básico|     Casados| 7500.0|           0|               0|      13-11-2012|                  59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|           61|Consumidor comum|
|2125|    1959|    Graduacao| Divorciados|63033.0|           0|               0|      15-11-2013|                  82|        194|          61|         480|         225|        112|       30|               1|           3|               4|             8|           2|         0|       0|         1102|Consumidor comum|
|8180|    1952|     Mestrado| Divorciados|59354.0|           1|               1|      15-11-2013|                  53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|          310|Consumidor comum|
|2569|    1987|    Graduacao|     Casados|17323.0|           0|               0|      10-10-2012|                  38|          3|          14|          17|           6|          1|        5|               1|           1|               0|             3|           8|         0|       0|           46|Consumidor comum|
|2114|    1946|          PhD|    Solteiro|82800.0|           0|               0|      24-11-2012|                  23|       1006|          22|         115|          59|         68|       45|               1|           7|               6|            12|           3|         0|       1|         1315|Consumidor comum|
|9736|    1980|    Graduacao|     Casados|41850.0|           1|               1|      24-12-2012|                  51|         53|           5|          19|           2|         13|        4|               3|           3|               0|             3|           8|         0|       0|           96|Consumidor comum|
|4939|    1946|    Graduacao|     Amigado|37760.0|           0|               0|      31-08-2012|                  20|         84|           5|          38|         150|         12|       28|               2|           4|               1|             6|           7|         0|       0|          317|Consumidor comum|
|6565|    1949|     Mestrado|     Casados|76995.0|           0|               1|      28-03-2013|                  91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|         1782|Consumidor comum|
|2278|    1985|Pos_Graduacao|    Solteiro|33812.0|           1|               0|      03-11-2012|                  86|          4|          17|          19|          30|         24|       39|               2|           2|               1|             3|           6|         0|       0|          133|Consumidor comum|
|9360|    1982|    Graduacao|     Casados|37040.0|           0|               0|      08-08-2012|                  41|         86|           2|          73|          69|         38|       48|               1|           4|               2|             5|           8|         0|       0|          316|Consumidor comum|
+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 20 rows

In [ ]:
#Saber quem são os clientes que estão sem fazer compras por um período longo para que a empresa faça um trabalho de fidelização com os mesmos.
#A função ORDER BY 'DESC' lista em ordem descrecente os clientes que não fazem compras no estabelecimento.
spark.sql("SELECT * FROM cadastro_clientes ORDER BY Tempo_compras_emDias DESC").show()

+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|   ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|  868|    1966|    Graduacao|     Casados|44794.0|           0|               1|      08-06-2014|                  99|         54|           0|           7|           0|          0|        4|               1|           2|               0|             3|           6|         0|       0|           65|Consumidor comum|
| 8595|    1973|    Graduacao|       Viuvo|42429.0|           0|               1|      11-02-2014|                  99|         55|           0|           6|           2|          0|        4|               2|           1|               1|             3|           5|         0|       0|           67|Consumidor comum|
|   22|    1976|    Graduacao| Divorciados|46310.0|           1|               0|      03-12-2012|                  99|        185|           2|          88|          15|          5|       14|               2|           6|               1|             5|           8|         0|       0|          309|Consumidor comum|
| 7232|    1973|    Graduacao|       Viuvo|42429.0|           0|               1|      11-02-2014|                  99|         55|           0|           6|           2|          0|        4|               2|           1|               1|             3|           5|         0|       0|           67|Consumidor comum|
|10142|    1976|          PhD| Divorciados|66476.0|           0|               1|      07-03-2013|                  99|        372|          18|         126|          47|         48|       78|               2|           5|               2|            11|           4|         0|       0|          689|Consumidor comum|
| 7829|    1900|Pos_Graduacao| Divorciados|36640.0|           1|               0|      26-09-2013|                  99|         15|           6|           8|           7|          4|       25|               1|           2|               1|             2|           5|         1|       0|           65|Consumidor comum|
| 3363|    1974|Pos_Graduacao|     Casados|20130.0|           0|               0|      17-03-2014|                  99|          0|           6|           3|           7|          6|       12|               1|           1|               0|             3|           8|         0|       0|           34|Consumidor comum|
| 4070|    1969|          PhD|     Casados|94871.0|           0|               2|      01-09-2012|                  99|        169|          24|         553|         188|          0|      144|               1|           8|               5|             4|           7|         0|       1|         1078|Consumidor comum|
|  528|    1978|    Graduacao|     Casados|65819.0|           0|               0|      29-11-2012|                  99|        267|          38|         701|         149|        165|       63|               1|           5|               4|            10|           3|         0|       0|         1383|Consumidor comum|
| 7947|    1969|    Graduacao|     Casados|42231.0|           1|               1|      25-03-2014|                  99|         24|           0|           8|           0|          1|        4|               1|           1|               0|             3|           5|         0|       0|           37|Consumidor comum|
| 2831|    1976|    Graduacao|     Amigado|78416.0|           0|               1|      27-06-2014|                  99|        453|          38|         279|         188|         38|      183|               2|           7|               7|            10|           3|         0|       0|         1179|Consumidor comum|
| 2415|    1962|    Graduacao|     Amigado|62568.0|           0|               1|      07-04-2014|                  99|        362|          17|         398|          80|         35|       61|               3|           5|               3|             5|           4|         0|       0|          953|Consumidor comum|
| 1743|    1974|    Graduacao|    Solteiro|69719.0|           0|               0|      26-05-2014|                  99|        273|          86|         208|         177|         14|       43|               1|           2|               3|             5|           1|         0|       0|          801|Consumidor comum|
| 9977|    1973|    Graduacao| Divorciados|78901.0|           0|               1|      17-09-2013|                  99|        321|          11|         309|          33|         26|       34|               3|           9|               3|             5|           4|         0|       0|          734|Consumidor comum|
| 7212|    1966|    Graduacao|     Casados|44794.0|           0|               1|      08-06-2014|                  99|         54|           0|           7|           0|          0|        4|               1|           2|               0|             3|           6|         0|       0|           65|Consumidor comum|
| 5263|    1977|Pos_Graduacao|     Casados|31056.0|           1|               0|      22-01-2013|                  99|          5|          10|          13|           3|          8|       16|               1|           1|               0|             3|           8|         0|       0|           55|Consumidor comum|
| 2106|    1974|Pos_Graduacao|     Casados|20130.0|           0|               0|      17-03-2014|                  99|          0|           6|           3|           7|          6|       12|               1|           1|               0|             3|           8|         0|       0|           34|Consumidor comum|
|  966|    1966|    Graduacao|     Casados|44529.0|           0|               1|      05-07-2013|                  98|        538|          13|          91|          17|          6|       26|               6|           6|               2|            11|           5|         0|       0|          691|Consumidor comum|
| 8541|    1990|Pos_Graduacao|     Casados|24683.0|           1|               0|      08-03-2014|                  98|          8|           4|          10|           6|          7|        6|               2|           2|               0|             4|           5|         0|       0|           41|Consumidor comum|
| 3846|    1974|    Graduacao|     Casados|42557.0|           0|               1|      29-08-2012|                  98|        192|           5|          53|           0|          5|       15|               4|           6|               1|             4|           8|         0|       0|          270|Consumidor comum|
+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 20 rows

In [ ]:
#Selecionar os clientes que têm filhos adolescentes para ofertar produtos que com os quais se identificam (Livros, Revistas, Jogos etc.).
#A função WHERE e uma condição retorna uma lista do que foi especificado da tabela.
spark.sql("SELECT * FROM cadastro_clientes WHERE Num_adolescentes >= 1 ").show()

+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|   ID|Ano_nasc|Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
| 2174|    1954|  Graduacao|    Solteiro|46344.0|           1|               1|      08-03-2014|                  38|         11|           1|           6|           2|          1|        6|               2|           1|               1|             2|           5|         0|       0|           27|Consumidor comum|
| 7446|    1967|   Mestrado|     Amigado|62513.0|           0|               1|      09-09-2013|                  16|        520|          42|          98|           0|         42|       14|               2|           6|               4|            10|           6|         0|       0|          716|Consumidor comum|
|  965|    1971|  Graduacao| Divorciados|55635.0|           0|               1|      13-11-2012|                  34|        235|          65|         164|          50|         49|       27|               4|           7|               3|             7|           6|         0|       0|          590|Consumidor comum|
| 5899|    1950|        PhD|     Amigado| 5648.0|           1|               1|      13-03-2014|                  68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|           49|Consumidor comum|
| 8180|    1952|   Mestrado| Divorciados|59354.0|           1|               1|      15-11-2013|                  53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|          310|Consumidor comum|
| 9736|    1980|  Graduacao|     Casados|41850.0|           1|               1|      24-12-2012|                  51|         53|           5|          19|           2|         13|        4|               3|           3|               0|             3|           8|         0|       0|           96|Consumidor comum|
| 6565|    1949|   Mestrado|     Casados|76995.0|           0|               1|      28-03-2013|                  91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|         1782|Consumidor comum|
| 1993|    1949|        PhD|     Casados|58607.0|           0|               1|      23-12-2012|                  63|        867|           0|          86|           0|          0|       19|               3|           2|               3|             9|           8|         0|       0|          972|Consumidor comum|
| 4047|    1954|        PhD|     Casados|65324.0|           0|               1|      11-01-2014|                   0|        384|           0|         102|          21|         32|        5|               3|           6|               2|             9|           4|         0|       0|          544|Consumidor comum|
| 1409|    1951|  Graduacao|     Amigado|40689.0|           0|               1|      18-03-2013|                  69|        270|           3|          27|          39|          6|       99|               7|           7|               1|             5|           8|         0|       0|          444|Consumidor comum|
| 2404|    1976|  Graduacao|     Casados|53359.0|           1|               1|      27-05-2013|                   4|        173|           4|          30|           3|          6|       41|               4|           5|               1|             4|           7|         0|       0|          257|Consumidor comum|
| 5710|    1970|  Graduacao|     Amigado|40548.0|           0|               1|      10-10-2012|                  31|        110|           0|           5|           2|          0|        3|               2|           2|               1|             4|           5|         0|       0|          120|Consumidor comum|
| 7373|    1952|        PhD| Divorciados|46610.0|           0|               2|      29-10-2012|                   8|         96|          12|          96|          33|         22|       43|               6|           4|               1|             6|           6|         0|       1|          302|Consumidor comum|
|10738|    1951|   Mestrado|    Solteiro|49389.0|           1|               1|      29-08-2013|                  55|         40|           0|          19|           2|          1|        3|               1|           2|               0|             3|           7|         0|       0|           65|Consumidor comum|
| 4339|    1970|        PhD|     Casados|67353.0|           0|               1|      31-12-2013|                  37|        702|          17|         151|           0|          8|       35|               5|           5|               6|            12|           2|         0|       0|          913|Consumidor comum|
| 8595|    1973|  Graduacao|       Viuvo|42429.0|           0|               1|      11-02-2014|                  99|         55|           0|           6|           2|          0|        4|               2|           1|               1|             3|           5|         0|       0|           67|Consumidor comum|
| 8601|    1980|  Graduacao|     Casados|80011.0|           0|               1|      29-04-2013|                   3|        421|          76|         536|          82|        178|      102|               2|           8|               6|             5|           4|         0|       0|         1395|Consumidor comum|
| 8430|    1957|  Graduacao|     Amigado|21994.0|           0|               1|      24-12-2012|                   4|          9|           0|           6|           3|          1|        3|               1|           0|               0|             3|           5|         0|       0|           22|Consumidor comum|
| 6566|    1954|        PhD|     Casados|72550.0|           1|               1|      08-11-2012|                  39|        826|          50|         317|          50|         38|       38|               9|           5|               2|            12|           8|         0|       0|         1319|Consumidor comum|
| 8614|    1957|  Graduacao|       Viuvo|65486.0|           0|               1|      12-05-2014|                  29|        245|          19|         125|          37|         67|       14|               1|           4|               2|            10|           2|         0|       0|          507|Consumidor comum|
+-----+--------+-----------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 20 rows

In [ ]:
#Selecionar clientes com mais de 60 anos, para enviar catálogos de produtos que os fazem se entir confortáveis (travesseiros, roupas de dormir etc.)
#A seleção com WHERE e a condição, retorna os clientes que nasceram a partir de 1952.
spark.sql("SELECT * FROM cadastro_clientes WHERE Ano_nasc <= 1952").show()

+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|   ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
| 5899|    1950|          PhD|     Amigado| 5648.0|           1|               1|      13-03-2014|                  68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|           49|Consumidor comum|
| 8180|    1952|     Mestrado| Divorciados|59354.0|           1|               1|      15-11-2013|                  53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|          310|Consumidor comum|
| 2114|    1946|          PhD|    Solteiro|82800.0|           0|               0|      24-11-2012|                  23|       1006|          22|         115|          59|         68|       45|               1|           7|               6|            12|           3|         0|       1|         1315|Consumidor comum|
| 4939|    1946|    Graduacao|     Amigado|37760.0|           0|               0|      31-08-2012|                  20|         84|           5|          38|         150|         12|       28|               2|           4|               1|             6|           7|         0|       0|          317|Consumidor comum|
| 6565|    1949|     Mestrado|     Casados|76995.0|           0|               1|      28-03-2013|                  91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|         1782|Consumidor comum|
| 1993|    1949|          PhD|     Casados|58607.0|           0|               1|      23-12-2012|                  63|        867|           0|          86|           0|          0|       19|               3|           2|               3|             9|           8|         0|       0|          972|Consumidor comum|
| 1409|    1951|    Graduacao|     Amigado|40689.0|           0|               1|      18-03-2013|                  69|        270|           3|          27|          39|          6|       99|               7|           7|               1|             5|           8|         0|       0|          444|Consumidor comum|
| 7373|    1952|          PhD| Divorciados|46610.0|           0|               2|      29-10-2012|                   8|         96|          12|          96|          33|         22|       43|               6|           4|               1|             6|           6|         0|       1|          302|Consumidor comum|
| 8755|    1946|     Mestrado|     Casados|68657.0|           0|               0|      20-02-2013|                   4|        482|          34|         471|         119|         68|       22|               1|           3|               5|             9|           7|         0|       0|         1196|Consumidor comum|
|10738|    1951|     Mestrado|    Solteiro|49389.0|           1|               1|      29-08-2013|                  55|         40|           0|          19|           2|          1|        3|               1|           2|               0|             3|           7|         0|       0|           65|Consumidor comum|
| 2968|    1943|          PhD| Divorciados|48948.0|           0|               0|      01-02-2013|                  53|        437|           8|         206|         160|         49|       42|               2|           7|              10|             5|           6|         0|       1|          902|Consumidor comum|
| 1012|    1952|    Graduacao|    Solteiro|61823.0|           0|               1|      18-02-2013|                  26|        523|           7|         134|          37|         14|      169|               4|           8|               2|            10|           7|         0|       0|          884|Consumidor comum|
| 6518|    1951|          PhD|       Viuvo|67680.0|           0|               1|      11-06-2013|                   8|        546|           0|          48|           0|          6|        6|               1|           7|               3|             8|           5|         0|       0|          606|Consumidor comum|
| 4137|    1948|    Graduacao|     Amigado|70666.0|           0|               0|      06-12-2013|                  29|        398|          40|         367|         119|        122|       30|               1|           7|               4|             4|           4|         0|       0|         1076|Consumidor comum|
| 1050|    1952|    Graduacao|     Casados|28332.0|           0|               0|      30-04-2014|                  58|         14|          10|          13|           4|         15|        9|               1|           2|               1|             4|           2|         0|       0|           65|Consumidor comum|
| 4646|    1951|Pos_Graduacao|     Casados|78497.0|           0|               0|      01-12-2013|                  44|        207|          26|         447|          75|          0|      223|               1|           5|               7|            12|           2|         0|       0|          978|Consumidor comum|
| 9370|    1945|          PhD|     Casados|65846.0|           0|               0|      17-05-2013|                  68|        562|          81|         276|          80|         40|       81|               1|           6|               3|             6|           4|         0|       0|         1120|Consumidor comum|
| 8026|    1952|    Graduacao|     Casados|62998.0|           0|               1|      30-09-2013|                  10|        120|          58|          73|          65|         89|       58|               5|           5|               4|             5|           5|         0|       0|          463|Consumidor comum|
| 7055|    1952|          PhD|     Amigado|61010.0|           0|               1|      09-10-2012|                  57|        888|           0|          57|           0|          0|       76|               2|           8|               5|            11|           5|         0|       0|         1021|Consumidor comum|
|10240|    1949|    Graduacao|     Amigado|69372.0|           0|               0|      19-02-2013|                  10|        997|          26|         269|          34|         13|       42|               1|          10|               4|             6|           4|         0|       1|         1381|Consumidor comum|
+-----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 20 rows

In [ ]:
#Listar os clientes com nível de escolaridade Básico para saber a frequencia de compras com desconto.
#O filtro retorna os valores das colunas, sendo que, na coluna Escolaridade, somente um nível especificado. 
spark.sql("SELECT Ecolaridade, Compras_desconto FROM cadastro_clientes WHERE Ecolaridade == 'Básico'").show()

+-----------+----------------+
|Ecolaridade|Compras_desconto|
+-----------+----------------+
|     Básico|               1|
|     Básico|               1|
|     Básico|               2|
|     Básico|               1|
|     Básico|               1|
|     Básico|               3|
|     Básico|               1|
|     Básico|               1|
|     Básico|               2|
|     Básico|               1|
|     Básico|               1|
|     Básico|               2|
|     Básico|               1|
|     Básico|               1|
|     Básico|               2|
|     Básico|               1|
|     Básico|               1|
|     Básico|               3|
|     Básico|               2|
|     Básico|               1|
+-----------+----------------+
only showing top 20 rows

In [ ]:
#Listar os clientes que fizeram reclamação nos últimos 2 anos, para saber como está sua satisfação com a empresa hoje.
#O filtro retorna a identificação do cliente com a seleção '1' que significa que fez reclamação.
spark.sql("SELECT ID, Reclamacao FROM cadastro_clientes WHERE Reclamacao == 1").show()

+-----+----------+
|   ID|Reclamacao|
+-----+----------+
|10401|         1|
| 3120|         1|
| 7829|         1|
| 5726|         1|
| 6201|         1|
| 6142|         1|
| 3710|         1|
|10995|         1|
| 6730|         1|
| 2875|         1|
|  359|         1|
| 9500|         1|
| 7192|         1|
|10637|         1|
|10971|         1|
| 9483|         1|
| 9916|         1|
| 6742|         1|
| 4427|         1|
| 7966|         1|
+-----+----------+
only showing top 20 rows

Salvando arquivo tratado

---

In [ ]:
df4Spark.show()

+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|  ID|Ano_nasc|  Ecolaridade|Estado_Civil|  Renda|Num_criancas|Num_adolescentes|Cadastro_Cliente|Tempo_compras_emDias|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_peixes|Gasto_doces|Gsto_ouro|Compras_desconto|Compras_site|Compras_catalogo|Compras_lojass|Visitas_site|Reclamacao|Resposta|Soma_de_gasto| Tipo_consumidor|
+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
|5524|    1957|    Graduacao|    Solteiro|58138.0|           0|               0|      04-09-2012|                  58|        635|          88|         546|         172|         88|       88|               3|           8|              10|             4|           7|         0|       1|         1617|Consumidor comum|
|2174|    1954|    Graduacao|    Solteiro|46344.0|           1|               1|      08-03-2014|                  38|         11|           1|           6|           2|          1|        6|               2|           1|               1|             2|           5|         0|       0|           27|Consumidor comum|
|4141|    1965|    Graduacao|     Amigado|71613.0|           0|               0|      21-08-2013|                  26|        426|          49|         127|         111|         21|       42|               1|           8|               2|            10|           4|         0|       0|          776|Consumidor comum|
|6182|    1984|    Graduacao|     Amigado|26646.0|           1|               0|      10-02-2014|                  26|         11|           4|          20|          10|          3|        5|               2|           2|               0|             4|           6|         0|       0|           53|Consumidor comum|
|5324|    1981|          PhD|     Casados|58293.0|           1|               0|      19-01-2014|                  94|        173|          43|         118|          46|         27|       15|               5|           5|               3|             6|           5|         0|       0|          422|Consumidor comum|
|7446|    1967|     Mestrado|     Amigado|62513.0|           0|               1|      09-09-2013|                  16|        520|          42|          98|           0|         42|       14|               2|           6|               4|            10|           6|         0|       0|          716|Consumidor comum|
| 965|    1971|    Graduacao| Divorciados|55635.0|           0|               1|      13-11-2012|                  34|        235|          65|         164|          50|         49|       27|               4|           7|               3|             7|           6|         0|       0|          590|Consumidor comum|
|6177|    1985|          PhD|     Casados|33454.0|           1|               0|      08-05-2013|                  32|         76|          10|          56|           3|          1|       23|               2|           4|               0|             4|           8|         0|       0|          169|Consumidor comum|
|4855|    1974|          PhD|     Amigado|30351.0|           1|               0|      06-06-2013|                  19|         14|           0|          24|           3|          3|        2|               1|           3|               0|             2|           9|         0|       1|           46|Consumidor comum|
|5899|    1950|          PhD|     Amigado| 5648.0|           1|               1|      13-03-2014|                  68|         28|           0|           6|           1|          1|       13|               1|           1|               0|             0|          20|         0|       0|           49|Consumidor comum|
| 387|    1976|       Básico|     Casados| 7500.0|           0|               0|      13-11-2012|                  59|          6|          16|          11|          11|          1|       16|               1|           2|               0|             3|           8|         0|       0|           61|Consumidor comum|
|2125|    1959|    Graduacao| Divorciados|63033.0|           0|               0|      15-11-2013|                  82|        194|          61|         480|         225|        112|       30|               1|           3|               4|             8|           2|         0|       0|         1102|Consumidor comum|
|8180|    1952|     Mestrado| Divorciados|59354.0|           1|               1|      15-11-2013|                  53|        233|           2|          53|           3|          5|       14|               3|           6|               1|             5|           6|         0|       0|          310|Consumidor comum|
|2569|    1987|    Graduacao|     Casados|17323.0|           0|               0|      10-10-2012|                  38|          3|          14|          17|           6|          1|        5|               1|           1|               0|             3|           8|         0|       0|           46|Consumidor comum|
|2114|    1946|          PhD|    Solteiro|82800.0|           0|               0|      24-11-2012|                  23|       1006|          22|         115|          59|         68|       45|               1|           7|               6|            12|           3|         0|       1|         1315|Consumidor comum|
|9736|    1980|    Graduacao|     Casados|41850.0|           1|               1|      24-12-2012|                  51|         53|           5|          19|           2|         13|        4|               3|           3|               0|             3|           8|         0|       0|           96|Consumidor comum|
|4939|    1946|    Graduacao|     Amigado|37760.0|           0|               0|      31-08-2012|                  20|         84|           5|          38|         150|         12|       28|               2|           4|               1|             6|           7|         0|       0|          317|Consumidor comum|
|6565|    1949|     Mestrado|     Casados|76995.0|           0|               1|      28-03-2013|                  91|       1012|          80|         498|           0|         16|      176|               2|          11|               4|             9|           5|         0|       0|         1782|Consumidor comum|
|2278|    1985|Pos_Graduacao|    Solteiro|33812.0|           1|               0|      03-11-2012|                  86|          4|          17|          19|          30|         24|       39|               2|           2|               1|             3|           6|         0|       0|          133|Consumidor comum|
|9360|    1982|    Graduacao|     Casados|37040.0|           0|               0|      08-08-2012|                  41|         86|           2|          73|          69|         38|       48|               1|           4|               2|             5|           8|         0|       0|          316|Consumidor comum|
+----+--------+-------------+------------+-------+------------+----------------+----------------+--------------------+-----------+------------+------------+------------+-----------+---------+----------------+------------+----------------+--------------+------------+----------+--------+-------------+----------------+
only showing top 20 rows

In [ ]:
df4Spark.dtypes

[('ID', 'int'),
 ('Ano_nasc', 'string'),
 ('Ecolaridade', 'string'),
 ('Estado_Civil', 'string'),
 ('Renda', 'float'),
 ('Num_criancas', 'int'),
 ('Num_adolescentes', 'int'),
 ('Cadastro_Cliente', 'string'),
 ('Tempo_compras_emDias', 'int'),
 ('Gasto_vinho', 'int'),
 ('Gasto_frutas', 'int'),
 ('Gasto_carnes', 'int'),
 ('Gasto_peixes', 'int'),
 ('Gasto_doces', 'int'),
 ('Gsto_ouro', 'int'),
 ('Compras_desconto', 'int'),
 ('Compras_site', 'int'),
 ('Compras_catalogo', 'int'),
 ('Compras_lojass', 'int'),
 ('Visitas_site', 'int'),
 ('Reclamacao', 'int'),
 ('Resposta', 'int'),
 ('Soma_de_gasto', 'int'),
 ('Tipo_consumidor', 'string')]

In [ ]:
df_pandas = df4Spark.toPandas()

In [ ]:
df_pandas

,ID,Ano_nasc,Ecolaridade,Estado_Civil,Renda,Num_criancas,Num_adolescentes,Cadastro_Cliente,Tempo_compras_emDias,Gasto_vinho,...,Gsto_ouro,Compras_desconto,Compras_site,Compras_catalogo,Compras_lojass,Visitas_site,Reclamacao,Resposta,Soma_de_gasto,Tipo_consumidor
0,5524,1957,Graduacao,Solteiro,58138.0,0,0,04-09-2012,58,635,...,88,3,8,10,4,7,0,1,1617,Consumidor comum
1,2174,1954,Graduacao,Solteiro,46344.0,1,1,08-03-2014,38,11,...,6,2,1,1,2,5,0,0,27,Consumidor comum
2,4141,1965,Graduacao,Amigado,71613.0,0,0,21-08-2013,26,426,...,42,1,8,2,10,4,0,0,776,Consumidor comum
3,6182,1984,Graduacao,Amigado,26646.0,1,0,10-02-2014,26,11,...,5,2,2,0,4,6,0,0,53,Consumidor comum
4,5324,1981,PhD,Casados,58293.0,1,0,19-01-2014,94,173,...,15,5,5,3,6,5,0,0,422,Consumidor comum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,10870,1967,Graduacao,Casados,61223.0,0,1,13-06-2013,46,709,...,247,2,9,3,4,5,0,0,1341,Consumidor comum
2212,4001,1946,PhD,Amigado,64014.0,2,1,10-06-2014,56,406,...,8,7,8,2,5,7,0,0,444,Consumidor comum
2213,7270,1981,Graduacao,Divorciados,56981.0,0,0,25-01-2014,91,908,...,24,1,2,3,13,6,0,0,1241,Consumidor comum
2214,8235,1956,Mestrado,Amigado,69245.0,0,1,24-01-2014,8,428,...,61,2,6,5,10,3,0,0,843,Consumidor comum
2215,9405,1954,PhD,Casados,52869.0,1,1,15-10-2012,40,84,...,21,3,3,1,4,7,0,1,172,Consumidor comum

In [ ]:
#Arquivo tratado salvo em csv.
df_pandas.to_csv("Arquivo_tratado", index=False)

Mongodb Atlas

---

Conectando ao Mongodb

---

In [ ]:
client = pymongo.MongoClient("mongodb+srv://soulcode:a1b2c3@clusterprojeto.r2s6o.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

Coleção original

---

In [ ]:
#Database
db = client["projeto_individual"]
#Coleção
Colecao_original = db.arquivo_original

Coleção Tratada

---

In [ ]:
#Database
db = client["projeto_individual"]
#Coleção
Colecao_tratada = db.arquivo_tratado

Dicionário - Coleção Original

---

In [ ]:
df_dici1 = df.to_dict("records")
Colecao_original.insert_many(df_dici1)

Dicionário - Coleção Tratada

---

In [ ]:
df_dici2 = df.to_dict("records")
Colecao_tratada.insert_many(df_dici2)

Extraindo Coleção Original

---

In [ ]:
extrator = Colecao_original.find({})
dfmongo = pd.DataFrame(list(extrator))

Extraindo Coleção Tratada

---

In [ ]:
extrator = Colecao_tratada.find({})
dfmongo = pd.DataFrame(list(extrator))

In [ ]:
dfmongo

,_id,ID,Ano_nasc,Escolaridade,Estado_Civil,Renda,Num_criancas,Num_adolescentes,Insc_cliente,Ultima_compra,...,Gasto_peixes,Gasto_doces,Gasto_ouro,Compras_desconto,Compras_site,Compras_catalogo,Compras_lojas,Visitas_site,Reclamacao,Resposta
0,6237c103f152d4c7ed0b2ad9,5524,1957,Graduacao,Solteiro,58138.0,0,0,04-09-2012,58,...,172,88,88,3,8,10,4,7,0,1
1,6237c103f152d4c7ed0b2ada,2174,1954,Graduacao,Solteiro,46344.0,1,1,08-03-2014,38,...,2,1,6,2,1,1,2,5,0,0
2,6237c103f152d4c7ed0b2adb,4141,1965,Graduacao,Amigado,71613.0,0,0,21-08-2013,26,...,111,21,42,1,8,2,10,4,0,0
3,6237c103f152d4c7ed0b2adc,6182,1984,Graduacao,Amigado,26646.0,1,0,10-02-2014,26,...,10,3,5,2,2,0,4,6,0,0
4,6237c103f152d4c7ed0b2add,5324,1981,PhD,Casados,58293.0,1,0,19-01-2014,94,...,46,27,15,5,5,3,6,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955,624c567311a127ed12a9b028,10870,1967,Graduacao,Casados,61223.0,0,1,13-06-2013,46,...,42,118,247,2,9,3,4,5,0,0
8956,624c567311a127ed12a9b029,4001,1946,PhD,Amigado,64014.0,2,1,10-06-2014,56,...,0,0,8,7,8,2,5,7,0,0
8957,624c567311a127ed12a9b02a,7270,1981,Graduacao,Divorciados,56981.0,0,0,25-01-2014,91,...,32,12,24,1,2,3,13,6,0,0
8958,624c567311a127ed12a9b02b,8235,1956,Mestrado,Amigado,69245.0,0,1,24-01-2014,8,...,80,30,61,2,6,5,10,3,0,0
8959,624c567311a127ed12a9b02c,9405,1954,PhD,Casados,52869.0,1,1,15-10-2012,40,...,2,1,21,3,3,1,4,7,0,1